# Data Retrieval Notebook for Table: Invoice

In [ ]:
# Import required library packages
import base64
import pandas as pd
from sqlalchemy import create_engine, text

In [ ]:
# Connection details
connection_string = b'<<generated-base64-string>>'

In [ ]:
# Establish the connection
engine = create_engine(base64.b64decode(connection_string).decode("ascii"))

In [ ]:
# Format SQL Query
def format_sql_query(query):
    formatted_query = sqlparse.format(query, reindent=True, keyword_case="upper")
    return formatted_query.strip()

In [ ]:
# Execute Select Query
def exec_sql_query(sql=None, con=engine, params=None):
    df = pd.read_sql_query(sql=text(query), con=engine, params=params)
    df_filtered = df.dropna(axis=1, how='all')
    return (df, df_filtered)

In [ ]:
# Parameter variables for Invoice
CustomerId = ''
InvoiceId = ''

```sql
SELECT *
FROM Invoice
LIMIT 10;
```

In [ ]:
# Query for Invoice
query = \
"""
SELECT *
FROM Invoice
LIMIT 10;
"""

In [ ]:
# Parameters for Invoice
parameters = {}

In [ ]:
# Execute sql query and display
df, df_filtered = exec_sql_query(sql=text(query), con=engine, params=parameters)

In [ ]:
# Display information
df_filtered.head()

```sql
SELECT *
FROM Invoice
WHERE InvoiceId = :InvoiceId;
```

In [ ]:
# Query for Invoice
query = \
"""
SELECT *
FROM Invoice
WHERE InvoiceId = :InvoiceId;
"""

In [ ]:
# Parameters for Invoice
parameters = {"InvoiceId": InvoiceId}

In [ ]:
# Execute sql query and display
df, df_filtered = exec_sql_query(sql=text(query), con=engine, params=parameters)

In [ ]:
# Display information
df_filtered.head()

```sql
SELECT *
FROM Invoice
WHERE CustomerId = :CustomerId;
```

In [ ]:
# Query for Invoice
query = \
"""
SELECT *
FROM Invoice
WHERE CustomerId = :CustomerId;
"""

In [ ]:
# Parameters for Invoice
parameters = {"CustomerId": CustomerId}

In [ ]:
# Execute sql query and display
df, df_filtered = exec_sql_query(sql=text(query), con=engine, params=parameters)

In [ ]:
# Display information
df_filtered.head()

In [ ]:
# Disconnect
engine.dispose()