# Data Retrieval Notebook for Domain: Catalog

In [ ]:
# Import required library packages
import base64
import pandas as pd
from sqlalchemy import create_engine, text

In [ ]:
# Connection details
connection_string = b'<<generated-base64-string>>'

In [ ]:
# Establish the connection
engine = create_engine(base64.b64decode(connection_string).decode("ascii"))

In [ ]:
# Format SQL Query
def format_sql_query(query):
    formatted_query = sqlparse.format(query, reindent=True, keyword_case="upper")
    return formatted_query.strip()

In [ ]:
# Execute Select Query
def exec_sql_query(sql=None, con=engine, params=None):
    df = pd.read_sql_query(sql=text(query), con=engine, params=params)
    df_filtered = df.dropna(axis=1, how='all')
    return (df, df_filtered)

In [ ]:
# Parameter variables for Album

Retrieve list of Albums with Artists
```sql
SELECT Album.Title AS AlbumTitle, Artist.Name AS ArtistName
FROM Albums
JOIN Artist ON Album.ArtistId = Artist.ArtistId;
```

In [ ]:
# Query for retrieving list of Albums with Artists
query = \
"""
SELECT Album.Title AS AlbumTitle, Artist.Name AS ArtistName
FROM Albums
JOIN Artist ON Album.ArtistId = Artist.ArtistId
LIMIT 10;
"""

In [ ]:
# Parameters for Album
parameters = {}

In [ ]:
# Execute sql query and display
df, df_filtered = exec_sql_query(sql=text(query), con=engine, params=parameters)

In [ ]:
# Display information
df_filtered.head()

In [ ]:
# Disconnect
engine.dispose()